<h1 class="heading">Form Validation</h1>

<div class="register-form">
  <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">


    <div class="form-group">
      <label>Full Name</label>
      <input
        type="text"
        class="form-control"
        name="fullname"
        [(ngModel)]="form.fullname"
        required
        #fullname="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && fullname.errors }"
      />
      @if (f.submitted && fullname.errors){
      <div class="invalid-feedback">
        @if (fullname.errors['required']){
        <div>Fullname is required</div>
        }
      </div>
      }
    </div>


    <div class="form-group">
      <label>UserName</label>
      <input
        type="text"
        class="form-control"
        name="username"
        [(ngModel)]="form.username"
        required
        minlength="6"
        maxlength="20"
        pattern="[a-zA-Z]+"
        #username="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
      />
      @if (f.submitted && username.errors){
      <div class="invalid-feedback">
      
        @if (username.errors['required']){
        <div>UserName is required</div>
        } @else if (username.errors['minlength']){
        <div>UserName atleast 6 characters</div>
        } @else if (username.errors['maxlength']){
        <div>UserName must be at most 20 characters</div>
        } @else if (username.errors['pattern']){
        <div>UserName must be in Alphabets</div>
        }
      </div>
    }
    </div>



    <div class="form-group">
      <label>Email</label>
      <input
        type="email"
        class="form-control"
        name="email"
        [(ngModel)]="form.email"
        required
        email
        #email="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && email.errors }"
      />
      @if (f.submitted && email.errors){
      <div class="invalid-feedback">
        @if (email.errors['required']){
        <div>Email is required</div>
        } @else if (email.errors['email']){
        <div>Email is Invalid</div>
        }
      </div>
      }
    </div>

    

    <div class="form-group">
      <label>Address</label>
      <input
        type="text"
        class="form-control"
        name="address"
        [(ngModel)]="form.address"
        required
        #address="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && address.errors }"
      />
      @if (f.submitted && address.errors){
      <div class="invalid-feedback">
        @if (address.errors['required']){
        <div>address is required</div>
        }
      </div>
      }
    </div>

    

    <div class="form-group">
      <label>Date of Birth</label>
      <input
        type="date"
        class="form-control"
        name="dob"
        [(ngModel)]="form.dob"
        required
        #dob="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && dob.errors }"
      />
      @if (f.submitted && dob.errors){
      <div class="invalid-feedback">
        @if (dob.errors['required']){
        <div>Date of Birth is required</div>
        }
      </div>
      }
    </div>

    
    <div class="form-group">
      <label>Password</label>
      <input
        type="password"
        class="form-control"
        name="password"
        [(ngModel)]="form.password"
        #password="ngModel"
        required
        minlength="6"
        maxlength="20"
        pattern="^(?=.[a-zA-Z])(?=.\d)(?=.[@$!%?&])[A-Za-z\d@$!%*?&]{6,20}$"
        [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
      />

      @if (f.submitted && password.errors){
      <div class="invalid-feedback">
        @if (password.errors['required']){
        <div>Password is required</div>
        } @else if (password.errors['minilength']){
        <div>Password atleast 6 characters</div>
        } @else if (password.errors['maxlength']){
        <div>Password must be at most 20 characters</div>
        } @else if (password.errors['pattern']){
        <div>Password must contain  Alphabets, Numbers, and Special characters</div>
        }
      </div>
      }
    </div>

    
    <div class="form-group">
      <label>Phone Number</label>
      <input
        type="tel"
        class="form-control"
        name="phoneNumber"
        [(ngModel)]="form.phoneNumber"
        #phoneNumber="ngModel"
        required
        minlength="10"
        maxlength="10"
        pattern="^[0-9]{10,10}$"
        [ngClass]="{ 'is-invalid': f.submitted && phoneNumber.errors }"
      />

      @if (f.submitted && phoneNumber.errors){
      <div class="invalid-feedback">
        @if (phoneNumber.errors['required']){
        <div>phoneNumber is required</div>
        } @else if (phoneNumber.errors['minilength']){
        <div>phoneNumber atleast 10 characters</div>
        } @else if (phoneNumber.errors['maxlength']){
        <div>phoneNumber must be at most 10 characters</div>
        } @else if (phoneNumber.errors['pattern']){
        <div>PhoneNumber must be in Number</div>
        }
      </div>
      }
    </div>
    <div class="form-group">
      <button type="submit" class="button">Save</button>
    </div>
  </form>
</div>
