h1
{
    text-align: center;
    margin: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.register-form
{
    height: 100vh;
    width: 60%;
    margin: auto;

    form
    {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 10%;
        padding-right: 10%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border-radius: 15px;
    }
    div
    {
        // height: 7.5vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        

        label
        {
            font-size: 18px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }
        input
        {
            height: 25px;
        }
        
        button
        {
            width: 120px;
            height: 30px;
            background-color: black;
            color: white;
            font-weight: 550;
            margin: auto;
        }
        
    }
    .invalid-feedback
    {
        color: red;
    }
}